@import url(variables.css);
body{
    background-color: var(--third-color);
    
}
header{ 
    background-color: var(--contrast-light-color);
    height: 100px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
h1{
    font-style: italic;
    font-size: 1.30rem;
    color: var(--contrast-light-color);
    margin-top: 20px;
    margin-left: 10%;
    margin-bottom: 20px;
    
}
section{
    color: var(--contrast-light-color);
    margin: 10px 10px 10px;
}
.cajas{
   
    width: 940px;
  
    margin: 0 auto;

    color: var(--contrast-light-color);
}
nav {   
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
ul {
    display: flex;
    flex-direction: row;  
}
li {
    list-style: none;
    margin: 0 10px 0 10px;
}
a {
    text-decoration: none;
    color: var(--contrast-nigth-color);
}   

fieldset div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: baseline;
    margin: 4px 12px 8px 12px;
}
fieldset{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    /*column-gap: 20em;*/
    /*justify-content: space-around;*/
    margin: 0px 0 10px;
    border: 1px solid #588276;
    border-radius: 12px;
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
    margin-bottom: 12px;
    padding-bottom: 24px;
    padding-top: 24px;
    padding-left: 12px;
    padding-right: 12px;
    font-style: italic;
    
}
.curp{
    width: 40%;
}

form{
    font-size: 20px;
}
input{
    margin: 0 0 10px;
    background-color: #FFFFFF;
    border: 2px solid #BAFAE8;
    border-radius: 3px;
}

.boton-caja{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.boton-enviar{
    font-weight: bold;
    background-color: #4F8689;
    border: 2px solid #000000;
    color: #FFFFFF;
    margin: 0 0 10px;
    padding: 1.5em 5.5em 1.5em 5.5em;
    font-size: 20px;
}