
@import url(variables.css);
*{
    font-family: 'Open Sans', sans-serif;
}
body{
    background-color: #588276;
    
}
header{ 
    background-color: #FFFFFF;
    height: 100px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
h1{
    font-style: italic;
    font-size: 1.30rem;
    color: #FFFFFF;
    margin-top: 20px;
    margin-left: 10%;
    margin-bottom: 20px;
    
}
section{
    color: #FFFFFF;
    margin: 10px 10px 10px;
}
.cajas{
    width: 940px;
    margin: 0 auto;
    color: #000000;
}
nav {   
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
ul {
    display: flex;
    flex-direction: row;  
}
li {
    list-style: none;
    margin: 0 10px 0 10px;
}
a {
    text-decoration: none;
    color: #000000;
}  
section{
    color: #FFFFFF;
    margin: 10px 10px 10px;
}
form{
    font-size: 20px;
}
.input{
    margin: 10px 10px 10px;
    background-color: #FFFFFF;
    border: 3px solid var( --success-color);
    border-radius: 3px;
}
section{
    color: var(--contrast-light-color);
    margin: 10px 10px 10px;
}
.cajas{
    width: 940px;
    margin: 0 auto;
    color: var(--contrast-nigth-color);
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
ul {
    display: flex;
    flex-direction: row;
}
li {
    list-style: none;
    margin: 0 10px 0 10px;
}
a {
    text-decoration: none;
    color: var(--contrast-nigth-color);
    font-weight: 600;
}
section{
    color: var(--contrast-light-color);
    margin: 10px 10px 10px;
}

form{
    font-size: 20px;
}
.input{
    margin: 10px 10px 10px;
    background-color: var(--contrast-light-color);
    border: 3px solid var( --success-color);
    border-radius: 3px;
}

.input-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 5px 10px 5px;
}
.input-message-error {
    display: none;
}

.button{
    font-weight: bold;
    background-color: var(--third-color);
    border: 2px solid var(--contrast-nigth-color);
    color: var(--contrast-light-color);
    margin: 15px 15px 15px;
    padding: 1em 5em 1em 5em;
    font-size: 20px;
    border-radius: 14px;
}
.button:hover {
    transform: scale(1.01);
    cursor: pointer;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.table-response {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    text-align: center;
    font-size: 20px;
    color: var(--contrast-light-color);
}
h2{
    color: var(--contrast-light-color);
    margin: 10px 10px 10px;
    text-align: center;
}