@import url(variables.css);
*{
    font-family: 'Open Sans', sans-serif;
}
body{
    background-color: #588276;
    
}
header{ 
    background-color: var(--contrast-light-color);
    height: 100px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
h1{
    font-style: italic;
    font-size: 1.30rem;
    color: #FFFFFF;
    margin-top: 20px;
    margin-left: 10%;
    margin-bottom: 20px;
    
}
section{
    color: #FFFFFF;
    margin: 10px 10px 10px;
}
.cajas{
    width: 940px;
    margin: 0 auto;
    color: #000000;
}
nav {   
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
ul {
    display: flex;
    flex-direction: row;  
}
li {
    list-style: none;
    margin: 0 10px 0 10px;
}
a {
    text-decoration: none;
    color: var(--contrast-nigth-color);
    font-weight: 600;
}
section{
    color: #FFFFFF;
    margin: 10px 10px 10px;
}

form{
    font-size: 20px;
}
.input{
    margin: 10px 15px 10px;
    background-color: #FFFFFF;
    border: 3px solid #BAFAE8;
    border-radius: 3px;
    width: 400px;
    height: 30px;
}
input:invalid {
    border: 3px solid red;
}
.input-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 5px 10px 5px;
}
.input-message-error {
    display: none;
}

.cantidad-dosis{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px 15px 10px;
    background-color: #FFFFFF;
    border: 3px solid #BAFAE8;
    border-radius: 3px;
    width: 400px;
    height: 30px;
}

.button{
    font-weight: bold;
    background-color: #4F8689;
    border: 2px solid #000000;
    color: #FFFFFF;
    margin: 15px 15px 15px;
    padding: 1em 5em 1em 5em;
    font-size: 20px;
    border-radius: 14px;
}
.button:hover {
    transform: scale(1.01);
    cursor: pointer;
}

#esquema-1::placeholder {
    font-size: 16px;
}

#esquema-2::placeholder {
    font-size: 16px;
}

#sigiente-esquema::placeholder {
    font-size: 12px;
}